@charset "utf-8";
ol,ul li{list-style: none;}

.numicon{color:#fff;padding:1px 8px;font-weight:700}
		.c1{background:green;}
		.c2{background:red;}
		.c3{background:pink;}
		.c4{background:orange;}
		.c5{background:#111;}
		.c6{background:gray;}	
		/*css代码*/
.wrap{color:#939da8}
/*侧边栏*/
.wrap .slider{width:220px;background:#2E363F;position:fixed;top:0px;left:0;height:100%;}
.wrap .slider .logo{height:72px;background:#1F262D;line-height:72px;text-align:center;}

.wrap .nav li.items{
	
	border-top: 1px solid #37414b;
	border-bottom: 1px solid #1f262d;
	font-size:12px;
	position:relative;
}
.wrap .nav li.items a{padding: 6px 100px 6px 20px;display:inline-block;}
/*silder bar li的样式*/
.wrap .nav li.items:hover,.wrap .nav li.active{background:#27A9E3}
.wrap .nav li ul li.active{background:#FF7F50}
.wrap .nav li ul li:hover{background:#FF7F50}
.wrap .nav li.items:hover a,.wrap .nav li.active a{color:#fff;}
.wrap .nav li.items .numicon{float:right;position:absolute;top:8px;right:20px;}
.wrap .nav li.active:after{
	content:"";
	display:inline-block;
	border-top:8px solid transparent;
	border-right:8px solid #eee;
	border-bottom:8px solid transparent;
	border-left:8px solid transparent;
	float:right;
	position:absolute;
	top:16px;
	right:0px;
}
.wrap .nav li .fa{padding-right:10px;font-size:14px;}
/*silder bar li的样式 里子元素的样式*/
.wrap .nav li.items ul {background:#111;display:none;}
.wrap .nav li.items ul li{padding-left:10px;}
.wrap .content .header{height:36px;background:#1F262D;border-left:1px solid #000}
/*内容区域*/
.wrap .content{background:#f8f8f8;margin-left:220px}
.content{margin-left:20px;}
input[placeholder]{color:#222;font-size:14px;font-weight:bold;margin-right: 10px;}
.wrap	.content .header .titems{float:left;border-right:1px solid #999;padding:0px 10px;height:36px;line-height:36px;font-size:12px;}
.wrap	.content .header .titems a{color:#eaeaea}
.wrap	.content .header .titems .fa{padding-right:10px;color:#fff}
.wrap	.content .sbtn{margin-right:24px;}	
.wrap	.content .sbtn input{height:26px;border:0;background:#666}
.wrap	.content .sbtn a{height:26px;width:46px;display:inline-block;background:#28B779;color:#fff;
		font-size:16px;}

.wrap .content .channel{height:36px;line-height:36px;padding-left:10px;}
.wrap .content .cnt{background:#EEEEEE;}

/*h-header start*/
.h-header {
	color:#fff;
	table-layout: fixed;
	position: fixed;
}
.h-header a{text-decoration: none;color:#0ff;}

.h-header .h-f1 a:hover{color:#0ff;}
.h-header .h-f1 a:focus{color:#ff0;}
.h-header .h-f1{
	position: relative;
	font-weight: bold;
	width:-moz-max-content;
	width:max-content;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.h-header .h-f1::after{
	content:"";
	position: absolute;
	left:50%;
	bottom:-5px;
	width:0;
	height:5px;
	background: #f0f;
	transition:all 0.3s;
}
.h-header .h-f1:hover::after{width:100%;left: 0;right: 0;}
/*h-header end*/

.tabwrap{padding:3px;}
.tztab{width:100%;border-collapse:collapse;border:1px solid #ccc;table-layout: fixed;}
.tztab th,td{border-bottom:1px solid #fff;}
.tztab td{
	background:#bb9655;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.tztab thead th{background:#2E363F;font-size:14px;font-weight: bold;
				color: #0ff;text-align: center;padding:2px;width:100%;}
/*单双行渐变*/
.tztab tbody tr:nth-child(odd){background:#eaeaea}
.tztab tbody tr:nth-child(even){background:#f8f8f8}
/*hover改变行的样式*/

.tztab tbody tr:hover td:hover{background:#C64BC9;}

.tztab caption{background:#2E363F;color:#fff;padding:5px;font-size:18px;font-weight:700;
	caption-side:top;
	text-align:center;
}